@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root,
html,
body {
  width: 100%;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  --background-color-header-dark: #373b53;
  --background-color-light: #f8f8fb;
  --background-color-dark: #1e2139;
  --background-color-very-dark: #141625;

  --color-light-grey: #dfe3fa;
  --color-dark-grey: #888eb0;
  --color-black: #0c0e16;
  --color-violet: #7c5dfa;
  --color-orange: #ff8f00;
  --color-green: #33d69f;
}
