@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Preventing changing input backgrounds on autofill */
/* Light mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #1e2139 !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* Dark mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #252945 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.date-wrapper {
  position: relative;
}

.date-wrapper .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#root,
html,
body {
  width: 100%;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  --background-color-header-dark: #373b53;
  --background-color-light: #f8f8fb;
  --background-color-dark: #1e2139;
  --background-color-very-dark: #141625;

  --color-light-grey: #dfe3fa;
  --color-dark-grey: #888eb0;
  --color-black: #0c0e16;
  --color-violet: #7c5dfa;
  --color-orange: #ff8f00;
  --color-green: #33d69f;
  --color-red: #ec5757;
}
